.sidenav {
  height: 100%;
  width: 160px;
  position: sticky;
  z-index: 1;
  top: 0;
  float: left;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; 
  font-size: 28px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #FFEB3B;
  padding: 10px 10px;
}

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  color: #212121;
  padding: 5px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}
header a img {
 width: 200px;
}

header a:hover {
  background-color: #FBC02D;
  color: #212121;
}

header a.active {
  background-color: #FBC02D;
}

nav {
  display: flex;
  align-items: center;
}

.container{
  text-align: center;
}
.input-wrapper {
  margin: 3.5rem;
}

.todos-wrapper {
  margin-bottom: 2.5rem;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.inputTodo {
  width: 450px;
  padding: 0.8em;
}

input:focus {
  outline: none;
}

.button {
  width: 120px;
  padding: 0.8em;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.inputTodo,
.button {
  font-size: 1em;
  appearance: none;
  color: currentcolor;
  background: transparent;
  border: 1px solid #828691;
}

.add-button {
  color: #44c0b6;
  border-left: none;
}

.delete-button {
  color: #fe6a6a;
}

ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
}

li {
  width: 450px;
  padding: 0.85em;
  text-align: left;
  margin-bottom: 0.5rem;
  background: #494847;
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  border-left: 5px solid #ff0000;
}

li:last-child {
  margin-bottom: 0px;
}

.empty {
  font-size: 20px;
  font-weight: 400;
  color: #cf972e;
  letter-spacing: 0.2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.card__content{
  padding: 10px;
}
.card img{
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card__btn {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  padding: 2px 16px;
}
.flexRow{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.flexBurger{
  display: flex;
  justify-content: space-around;
  gap: 50px;
  padding: 50px;
  align-items: baseline;
  
}
.card__btn button {
  border: 2px solid #2196F3;
  color: dodgerblue;
  padding: 3px 6px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}
.card__btn button:hover {
  background: #2196F3;
  color: white;
}
table {
	overflow:hidden;
	border:1px solid #d3d3d3;
	background:#fefefe;
	width:70%;
	margin:5% auto 0;
	-moz-border-radius:5px; /* FF1+ */
	-webkit-border-radius:5px; /* Saf3-4 */
	border-radius:5px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
a{
  text-decoration: none;
}
th, td {padding:18px 28px 18px; text-align:center; }

th {padding-top:22px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}

td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}

tr.odd-row td {background:#f6f6f6;}

td.first, th.first {text-align:left}

td.last {border-right:none;}


td {
	background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}

tr.odd-row td {
	background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}

th {
	background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
	background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}

tr:first-child th.first {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px; /* Saf3-4 */
}

tr:first-child th.last {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px; /* Saf3-4 */
}

tr:last-child td.first {
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}

tr:last-child td.last {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}
.burger_content{
  text-align: center;
  padding: 10px;
}
.burger_content:hover{
  border-radius: 15px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
.burger_content.active{
  border-radius: 15px;
  background-color: #333;
  color: #fff;
}
#dopp{
  display: none;
}
#addTopping{
  display: none;
}
.burger_content .small{
  width: 100px;
  border-radius: 15px;
}
.burger_content .big{
  width: 150px;
  border-radius: 15px;
}